body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 170px;
}

.logo_tablet {
    display: none;
}

.bata_club {
    width: 100px;
}

.icon {
    width: 40px;
}

.car {
    width: 80px;
}

.nav_icon {
    text-align: center;
}

.li {
    list-style: none;
}

.ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart {
    margin-right: 20px;
}

.left_bar {
    margin: 20px;
    display: none;
}

.left_bar,
.logo,
.li {
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: center;
}

.category_container {
    border: 1px solid #bcbcbc;
    display: flex;
    justify-content: center;
}

.category_container {
    display: flex;
    justify-content: center;
}

.category_container>.categorey_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.category_container>ul>li {
    list-style: none;
    cursor: pointer;
}

.categorey_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.category_container>ul>li:hover {
    color: #EE2125;
}

.search_bar {
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid #bcbcbc;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search_icon {
    width: 60px;
    margin-right: 10px;
}

.search {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.marquee {
    border: 1px solid #bcbcbc;
    border-width: 100%;
    font-size: 14px;
    font-weight: bold;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    cursor: pointer;
}

.banner_big {
    width: 100%;
}

.banner_small {
    width: 100%;
    display: none;
}

.pic_main {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 17px;
}


.pic_main>div>img {
    cursor: pointer;
    width: 100%;
}

.bata_comfit_big {
    width: 100%;
    cursor: pointer;
}

.bata_comfit_small {
    width: 100%;
    cursor: pointer;
}

.login_,
.cart_ {}

#search_icon {
    display: none;
}





/* media query start  */

/* mobile phone */
@media screen and (max-width:767px) {

    .logo {
        width: 90px;
        margin-right: 0px;
    }

    .banner_big {
        display: none;
    }

    .bata_club,
    .help,
    .car {
        display: none;
    }

    .left_bar {
        display: flex;
        align-items: center;
    }


    .login_,
    .cart_ {
        display: inline-block;
        gap: 0;
    }

    .search_icon {
        display: inline-block;
    }

    #search_icon {
        display: inline-block;
        width: 50px;
    }

    .category_container {
        display: none;
    }

    .banner_small {
        display: none;
    }

    .banner_small {
        display: inline-block;
    }

    .pic_main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0%;
        margin-right: 15px;
    }

    .bata_comfit_big {
        display: none;
    }

    .ul {
        gap: 0;
    }

    .category_container>.categorey_list {
        display: none;
    }

    .pic_main>div>img {
        cursor: pointer;
        width: 190px;
    }

    .pic_main {
        display: grid;
        width: auto;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;
    }
}

/* tablet */
@media only screen and (min-width: 767px) and (max-width:992px) {
    .banner_small {
        display: inline-block;
        width: 100vh;
    }

    .center_bar {
        margin-right: 100px;
    }

    .banner_small {
        display: none;
    }

    .bata_comfit_small {
        display: none;
    }

    .pic_main>div>img {
        cursor: pointer;
    }

    .pic_main {
        display: grid;
        width: auto;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;

    }

}

/* laptop */
@media only screen and (min-width: 992px) {

    .logo {
        display: grid;

    }

    .pic_main {
        display: grid;
        width: auto;
        height: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;

    }

    .center_bar {
        margin-left: 350px;
    }

    .bata_comfit_small {
        display: none;
    }
}